.report h2 {
font-family: Helvetica, Verdana, sans-serif;
font-size:20px;
display:block;
color:#000;
text-indent:0;
font-weight:bold;
}
.report img {
  border:none;
}
.report table {
  font-family: Helvetica, Verdana, sans-serif;
  width: 700px;
  border: 2px solid black;
  margin-top:10px;
}
.report table th {
  text-align: center;
  font-weight: bold;
}
.report table td,
.report table th {
  padding: 2px;
}
.report table td.numeric,
.report table th.numeric {
  text-align: right;
}
.report table th, .report table td {
  border-right: 1px solid #233551;
  border-bottom: 1px solid #233551;
  border-left-width: 0px;
  border-top-width: 0px;
}
.report table th:last-child, .report table th.last, .report table td:last-child, .report table td.last {
  border-right-width: 0px;
}
.report table tbody tr:last-child th, .report table tbody tr:last-child td,
.report table tbody tr.last th,
.report table tbody tr.last td, .report table tfoot tr:last-child th, .report table tfoot tr:last-child td, .report table tfoot tr.last th, .report table tfoot tr.last td {
  border-bottom-width: 0px;
}
.report table thead th {
  border-bottom: 2px solid black;
}
.report table tfoot th, .report table tfoot td {
  border-top: 2px solid black;
}
.report table th:first-child {
  border-right: 2px solid black;
}
.report table th {
  background-color: #C8C6C6;
}
.report table th.even, .report table th:nth-child(2n) {
  background-color: #C8C6C6;
}
.report table tr.odd td {
  background-color: #E7E5E5;
}
.report table tr.odd td.even, .report table tr.odd td:nth-child(2n) {
  background-color: #E7E5E5;
}
.report table tr.even td {
  background-color: #DAE9F1;
}
.report table tr.even td.even, .report table tr.even td:nth-child(2n) {
  background-color: #DAE9F1;
}
.report table tfoot th, .report table tfoot td {
  background-color: white;
}
.report table tfoot th.even, .report table tfoot th:nth-child(2n), .report table tfoot td.even, .report table tfoot td:nth-child(2n) {
  background-color: white;
}
.report table th {
  text-align: left;
  margin-top: 0px;
}
