<%= render :partial => 'admin/admin_header' %>
<h2>Edit User</h2>
<table>
<% form_for @user, :url => admin_user_path(@user) do |form| %>
  <%= render :partial => '/admin/users/form', :object => form %>
  <tr><td colspan="2"><%= form.submit 'Save', :disable_with => 'Please wait...' %></td></tr>
<% end %>
</table>